<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/front/css/home.css">
    <% if (extraCss) { %>
        <% extraCss.forEach(function(href){ %>
            <link rel="stylesheet" href="<%= href %>">
            <% }) %>
                <% } %>
</head>

<body>